<!-- Sidebar user panel (optional) -->
<%if(typeof user!='undefined'){%>
  <div class="user-panel">
    <div class="pull-left image">
      <img src="<%= user.image %>" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>
        <%= user.displayName%>
      </p>
      <!-- Status -->
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <%}%>
    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
      <% if(typeof user!='undefined'){%>
        <li class="<%- pathname[1]=='blog'? 'active' : ''%>"><a href="/blog"><i class="fa fa-book"></i> <span>Blog</span></a></li>
        <li class="<%- pathname[1]=='dashboard'? 'active' : ''%>"><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="treeview <%- pathname[1]=='profile'||pathname[1]=='edit profile' ? 'active' : ''%>">
          <a href="#"><i class="fa fa-user-md"></i> <span>Profile</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
          <ul class="treeview-menu">
            <li class="<%- pathname[1]=='profile'? 'active' : ''%>"><a href="/profile/<%- typeof user!='undefine' ? user._id : '' %> ">Profile</a></li>
            <% if(typeof user.profile!='undefined'){%>
              <li class="<%- pathname[1]=='edit profile'? 'active' : ''%>"><a href="/profile/edit/<%- typeof user!='undefine' ?  user.profile : '' %>">Edit Profile</a></li>
              <%}else{%>
                <li class="<%- pathname[1]=='edit profile'? 'active' : ''%>"><a href="/profile/new">Create Profile</a></li>
                <%}%>
          </ul>
        </li>
        <%}%>
    </ul>
    <!-- /.sidebar-menu -->